.popular-tutorials {
  margin-top: 75px;
  margin-bottom: 45px;
}

.tutorials {
  margin-top: 45px;
  margin-bottom: 60px;

  .grid-3 {
    margin-bottom: 50px;
  }

  .paginations {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .pagination__left {
      float: left;
    }

    .pagination__right {
      float: right;
    }
  }
}
