{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/transform-async-to-generator",
        ["prismjs", {
            "languages": ["javascript", "css", "html", "php", "sass", "less", "json", "typescript", "jsx", "tsx"],
            "theme": "twilight",
            "css": true
        }]
    ]
}
