//
// Login v1
//




// Global config
@import "../../config";

// Layout config
@import "../../global/layout/config.scss";


body {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
}

.kt-login-v1 {
	padding: 0;

	// Head 
	.kt-login-v1__head {
		padding: 3rem;
		display: flex;
  		justify-content: space-between;
  		align-items: center; 
		flex-flow: row wrap;  
		  

  		// Logo
		.kt-login-v1__logo {
			> a { 
				display: inline-block; 
			}
		}

		// Signup
		.kt-login-v1__signup {
		  	display: flex;
		  	align-items: center;

		  	> .kt-login-v1__heading {
		  		margin-bottom: 0;
		  		color: rgba(#fff, 0.5);
		  		font-size: 1.1rem;
		  		font-weight: 500;
		  	}

		  	> a {
		  		font-size: 1.1rem;
				margin-left: 0.5rem;
				font-weight: 500;
				
				color: rgba(#fff, 0.8);	
				transition: color 0.3s ease;
				
				&:hover {
					color: #fff;
					transition: color 0.3s ease;
				}
		  	}
		}
	}

	// Body
	.kt-login-v1__body {
		padding: 3rem;
		width: 100%;
		display: flex;
		align-items: center;		  	 

		// Section
		.kt-login-v1__section {
			width: 50%;
			justify-content: flex-end;
			display: flex;

			// Info
			.kt-login-v1__info {
				width: 390px;
				margin-right: 7rem;

				> .kt-login-v1__intro {
					color: #fff;
					font-size: 1.9rem;
					font-weight: 500;
					margin-bottom: 1.5rem;
					line-height: 1.75;
				}

				> p {
					color: rgba(#fff, 0.5);
					font-weight: 500;
					font-size: 1.1rem;
				}
			}
		}

		// Separator
		.kt-login-v1__seaprator {
			background-color: rgba(#fff, 0.1);
			height: 450px;
			width: 1px; 
			margin: auto;	
		}

		//  Wrapper
		.kt-login-v1__wrapper {
			width: 50%;

			// Container
			.kt-login-v1__container {
				max-width: 390px;
				width: 100%;
				margin-left: 7rem;

				// Title
				.kt-login-v1__title {
					text-align: center;					
					color: #fff;
					padding-bottom: 2rem;	
					font-size: 1.8rem;
					font-weight: 500;					 
				}

				// Form
				.kt-login-v1__form {
					.form-control {
						border-radius: 46px;	
						height: 46px;
						padding-left: 2rem;
						padding-right: 2rem;
						margin-top: 1.3rem;	
						border-color: rgba(#fff, 0.1);	
						background-color: transparent;	
						color: #fff;

						@include kt-input-placeholder(rgba(#fff, 0.6));
					}
				}

				// Action
				.kt-login-v1__actions {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;

					.kt-login-v1__forgot {						 
						display: inline-block; 		
						color: rgba(#fff, 0.6);						
						transition: color 0.3s ease;
				
						&:hover {
							color: #fff;
							transition: color 0.3s ease;
						}
					}

					.btn {
						padding: 0.85rem 3.5rem;
						border-radius: 60px;
						color: #fff;
						background-color: #ff146c;
						font-size: 1.1rem;
					}					
				}

				// Divider
				.kt-login-v1__divider {
					margin: 3rem 0;

					.kt-divider {
						> span:not(:first-child):not(:last-child) {								
							color: rgba(#fff, 0.6);			 
							font-weight: 500;
							font-size: 1.1rem;
						}

						> span {
							background: none;

							&:first-child {
								border-bottom: 1px solid rgba(#fff, 0.2);								 
							}

							&:last-child {
								border-bottom: 1px solid rgba(#fff, 0.2);								 
							}
						}	
					}
				}

				// Options
				.kt-login-v1__options {
					display: flex;
					justify-content: space-between;

					.btn {
						border-radius: 60px;
						background-color: #1F2375;
						font-weight: 500;	
						flex: 1;  
						padding: 0.85rem 0;
						font-size: 1rem;
						color: #fff !important;															

						i {
							font-size: 1.1rem;
							color: #fff;
						}

						&:not(:first-child):not(:last-child) {						
							margin: 0 2rem;						
						}	


						&:hover {							
							color: #fff;
							background-color: #1F2164;							
						}
					}
				}
			}
		}		
	} 

	// Footer
	.kt-login-v1__footer {
		padding: 3rem;
		display: flex;
  		justify-content: space-between;
		align-items: center;

  		// Link
		.kt-login-v1__menu {
			order: 2;

			> a {
				color: rgba(#fff, 0.6);	
				font-weight: 500;
				font-size: 	0.93rem;

				&:not(:first-child):not(:last-child) {						
					margin: 0 2rem;
					
				}

				transition: color 0.3s ease;
				
				&:hover {
					color: #fff;
					transition: color 0.3s ease;
				}
			}
		}

  		// Info
		.kt-login-v1__copyright {
			> a {
				font-weight: 500;
				font-size: 1rem;
				color: rgba(#fff, 0.7);	
				transition: color 0.3s ease;
				
				&:hover {
					color: #fff;
					transition: color 0.3s ease;
				}
			}
		}		
	}  	
} 

// Tablet & Mobile Mode
@include kt-tablet-and-mobile {
	body {
		background-size: initial;
	}

	.kt-login-v1 {	 
		.kt-login-v1__head {
			padding: 2rem 1.5rem 1.5rem 1.5rem;

		  	.kt-login-v1__signup {
				margin-top: 0.5rem;

				> .kt-login-v1__heading {
		  			padding-left: 0;
		  		} 		  			
		  	}
		}

		.kt-login-v1__body {
			padding: 3rem 1.5rem;
			display: flex;
  			flex-direction: column;	

			.kt-login-v1__section {
				padding-right: 0;
				width: 100%;
				display: flex;
				justify-content: center;
				margin-top: 3rem;

				.kt-login-v1__info {
					width: 380px;
					max-width: 100%;
					text-align: center;	
					margin-right: 0;			
				}
			}

			.kt-login-v1__seaprator {
				border-bottom: 1px solid  rgba(#fff, 0.1);
				height: 0px;
				width: 100%; 
				max-width: 500px;
				margin: 2rem auto;		
			}

			.kt-login-v1__wrapper {
				padding-left: 0;
				width: 100%;
				display: flex;
				justify-content: center;

				.kt-login-v1__container {
					margin-left: 0;

					.kt-login-v1__title {
						padding-top: 1rem;	 				 
					}

					.kt-login-v1__divider {
						margin: 2rem 0;
					}	

					.kt-login-v1__options {
						margin-top: 3rem;

						.btn {
							i {
								padding: 0.4rem 0.3rem 0.4rem 0;
							}

							&:not(:first-child):not(:last-child) {						
								margin: 0 1rem;						
							}
						}		
					}	 
				}
			}		
		} 

		.kt-login-v1__footer {
			padding: 1.5rem;
			.kt-login-v1__menu {
				> a {
					padding-right: 0.5rem;
				}
			}

			.kt-login-v1__copyright {
				> a {
					&:not(:first-child):not(:last-child) {						
						padding: 0 1rem;
					} 	
				}
			}
		} 				
	}	
}