//
// User Card
//



.kt-user-card-v4 {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5rem 1rem;
    background-color: #f9fafe;

    // Elements
    .kt-user-card-v4__avatar {
        .kt-badge,
        img {
            max-width: 60px; 
            max-height: 60px;

            @include kt-rounded {
                border-radius: 4px;
            }
        }

        .kt-badge {
            font-size: 2.2rem;
        }
    }

    .kt-user-card-v4__name {
        flex-grow: 1;
        color: kt-base-color(label, 3);
        font-size: 1.2rem;
        font-weight: 500;
        padding-left: 1rem;

        small {
            display: block;
            color: kt-base-color(label, 2);
            font-size: 0.9rem;
            font-weight: 400;
        }
    }

    .kt-user-card-v4__badge {
        padding-left: 0.5rem;
    }
}


@include kt-tablet-and-mobile {
    .kt-user-card-v4 {
        padding: 1rem 1rem;

        // Elements
        .kt-user-card-v4__avatar {
            .kt-badge,
            img {
                max-width: 40px;
                max-height: 40px;
            }
        }

        .kt-user-card-v4__name {
            font-size: 1.1rem;
            padding-left: 0.5rem;

            small {
                font-size: 0.8rem;
            }
        }

        .kt-user-card-v4__badge {
            padding-left: 0.5rem;
        }
    }
}