.filemanager-list {
    .filemanager {
        &-item {
            width: 100%;
            text-align: left;
            margin: 0;

            &:hover,
            &:focus {
                background-color: #eee;
            }

            &-with-name {
                height: auto;
            }

            &-editable {
                &-button {
                    position: static;
                }
            }

            &-wrapper {
                display: flex;
                align-items: center;
                border-radius: 0;
                border-bottom: 1px solid #ccc;
                padding: 0 10px;
            }

            &-selected &-wrapper,
            &-over &-wrapper {
                background-color: #ddd;
            }

            &-name {
                flex-grow: 1;
            }

            &-image {
                max-width: 40px;
                max-height: 40px;

                &-wrapper {
                    border-radius: 0;
                    padding: 0;
                    border: none;
                }
            }

            &-icon {
                flex-shrink: 0;
                width: 55px;
                height: 55px;
                padding: 0;

                &:before {
                    font-size: 40px;
                }
            }
        }
    }
}
