//
// Aside Brand Skin
//




// Include framework config
@import "../../../../config";

// Include demo config
@import "../../config";

// Include header config
@import "../../header/config";

// Include aside config
@import "../../aside/config";

// Aside
.kt-aside {
	background-color: kt-get($kt-layout-skins, brand);

	// Scrollbar
	@include kt-perfect-scrollbar-skin(#798df1);

	// Footer
	.kt-aside__footer {
		background-color: #475fd2;

		.btn {
			@include kt-transition();
			background-color: transparent;
			
			i {
				@include kt-transition();
				color: #889dfc;
			}
		}

		.show .btn,
		.btn:hover {
			@include kt-transition();
			background-color: darken(#475fd2, 6%);

			i {
				@include kt-transition();
				color: #ffffff;
			}
		}
	}
}

// Build Aside Menu Skin
@include kt-menu-ver-build-skin(kt-get($kt-aside-config, menu), brand);