.btn {
  @apply inline-flex justify-center transition ease-in-out duration-150 block px-4 py-2 text-base rounded-md leading-6 font-medium;
}

.btn-primary {
  @apply bg-brand-primary text-white;

  &:hover {
    @apply bg-brand-900;
  }
}

.btn-white {
  @apply inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm transition ease-in-out duration-150;

  &:hover {
    @apply text-gray-500;
  }

  &:focus {
    @apply outline-none border-blue-300 shadow-outline;
  }
}

.btn-danger {
  @apply inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm transition ease-in-out duration-150;

  &:hover {
    @apply bg-red-500;
  }

  &:focus {
    @apply border-red-700 shadow-outline-red;
  }
}

@screen sm {
  .btn-danger, .btn-white {
    @apply text-sm leading-5;
  }
}

.btn-outline-primary {
  @apply border border-brand-primary text-brand-primary;

  &:hover {
    @apply bg-brand-primary text-white;
  }
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid theme('colors.gray.100');
  border-right: 0.2em solid theme('colors.gray.100');
  border-bottom: 0.2em solid theme('colors.gray.100');
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slider-control-bottomcenter {
  bottom: -40px !important;
}

.paging-item {
  margin-right: 8px;
}

.input-form {
  @apply form-input w-full;
}

.forum-category {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.3);
  }
}

.content {
  h3 {
    @apply font-semibold text-2xl text-gray-800 mb-4;
  }
}

.tabs .tab-active {
  @apply text-brand-primary border-brand-primary;
}

.content-body {
  a {
    @apply text-brand-primary;
    &:hover {
      @apply text-brand-900;
    }
  }
  pre > code {
    @apply rounded-md p-4 text-sm;
    line-height: 1.5em;
  }

  p:not(:last-child), ul:not(:last-child) {
    margin-bottom: 1em;
  }
  * + pre {
    margin-top: 1em;
    word-wrap: normal;
    white-space: pre-wrap;
  }

  pre:not(:last-child) {
    margin-bottom: 1em;
  }
}

.thread-header {
  transition: all ease-in-out 300ms;

  &-metadata {
    transform: translateX(0);
    transition: all ease-in-out 300ms;
  }

  &-remove {
    display: none;
    transition: all ease-in-out 350ms;
  }

  &:hover {
    .thread-metadata {
      transform: translateX(-10px);
    }

    .thread-remove {
      display: block;
    }
  }
}

.reply-header {
  transition: all ease-in-out 300ms;

  &-remove {
    display: none;
    transition: all ease-in-out 300ms;
  }

  &:hover {
    .reply-remove {
      display: block;
    }
  }
}

.ce-settings__default-zone:not(:empty) {
  padding: 0 !important;
}
