.container {
  @apply mx-auto max-w-screen-xl relative px-6;
}

.text-truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}

.hidden-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.bg-php { background-color: rgba(#777BB3, .3); }
.bg-laravel { background-color: rgba(#FF2D20, .3); }
