.container {
  @apply mx-auto max-w-screen-xl relative px-6;
}

.text-truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}
