/**
 * Custom Sass Variable
 */

// Brands Colors
$brand-colors: (
  primary: #007A5E,
  facebook: #435F9B,
  twitter: #55ACEE,
  linkedin: #007BB5,
  github: #333,
  laravel: #FF2D20,
  design: #FFD039,
  javascript: #F7DF1E,
  typescript: #007ACC,
  react: #53C1DE,
  vue: #41B883,
  php: #777BB3,
  feedback: #FBDAC1,
  docker: #1D91B4,
  digital-ocean: #0080FF,
  html-css: #F16529
) !default;
