//
// Error 404 v2
//



// Global config
@import "../../config";

// Layout config
@import "../../global/layout/config.scss";


// Component config
.kt-error404-v2--enabled {
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.kt-error404-v2{
	display:flex;
	flex:1;
	justify-content:center;
	align-items:flex-start;

	@include kt-mobile{
		padding: 2rem;
	}	

	.kt-error404-v2__content{
		margin-top: 4rem;
		display: flex;
		justify-content: center;
		flex-direction:column;
		align-items: center;
		
		.kt-error404-v2__title{
			font-size: 12rem;
			color: kt-state-color(brand, inverse);
			font-weight: 700;
		}

		.kt-error404-v2__desc{
			color: kt-state-color(brand, inverse);
			font-size: 1.5rem;

			@include kt-mobile{
				text-align: center;
			}
		}
	}
}

.kt-bg-error404-v2{
	background-image:url('../../../media/misc/404-bg2.jpg');

	@include kt-mobile{
		background-image:url('../../../media/misc/bg-mobile-2.jpg');
	}
}

