//
// Error 404 v3
//




// Global config
@import "../../config";

// Layout config
@import "../../global/layout/config.scss";


// Component config
$kt-error404-v3-btn-color: #f7098f;

.kt-error404-v3--enabled {
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

.kt-error404-v3{
	display:flex;
	flex:1;
	justify-content:center;
	align-items:flex-end;

	@include kt-mobile{
		padding: 2rem;
	}	

	.kt-error404-v3__content{
		margin-bottom: 7rem;
		display: flex;
		justify-content: center;
		flex-direction:column;
		align-items: center;
		text-align:center;
		
		.kt-error404-v3__title{
			font-size: 2rem;
			color: kt-state-color(brand, inverse);
			font-weight: 400;
			margin-bottom:3rem;
		}

		.kt-error404-v3__button{
			color: kt-state-color(brand, inverse);
			background-color: $kt-error404-v3-btn-color;

			&:hover{
				color: kt-state-color(brand, inverse);
			}
		}
	}
}

.kt-bg-error404-v3{
	background-image:url('../../../media/misc/404-bg3.jpg') ;

	@include kt-mobile{
		background-image:url('../../../media/misc/bg-mobile-3.jpg');
	}
}
