//
// Brand Brand Skin
//



// Include framework config
@import "../../../../config";

// Include demo config
@import "../../config";

// Desktop mode
@include kt-desktop {
	.kt-aside__brand {
	    background-color: kt-get($kt-layout-skins, brand);
    	box-shadow: none;

    	.kt-aside__brand-tools {
			@include kt-burger-icon-skin(kt-aside__brand-aside-toggler, (default: #8ca0fe, hover: #ffffff, active: #ffffff) );
		}
	}
}

// Tablet and mobile mode
@include kt-tablet-and-mobile {
	.kt-header-mobile {
		background-color: kt-get($kt-layout-skins, brand);
		box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.1);

		.kt-header__topbar--mobile-on & {
			box-shadow: none;
		}

		// Toolbar
		.kt-header-mobile__toolbar {
			@include kt-burger-icon-skin(kt-header-mobile__toolbar-toggler, (default: #8ca0fe, hover: #ffffff, active: #ffffff) );

			.kt-header-mobile__toolbar-topbar-toggler {
				i {
					color: #8ca0fe;
				}

				&.kt-header-mobile__toolbar-topbar-toggler--active,
				&:hover {
					i {
						color: #ffffff;
					}
				}
			}
		}
	}
}